body
  padding: 10px 40px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF

.peer
  padding: 4px
  margin: 2px
  width: 256px
  font-size: 12px
  text-align: center
  background: #ccf
  color: #226

.peer.connected
    background: #cfc
    color: #282
.peer.ended
    background: #ccc
    color: #888

.blockstore_list
  float: right
  width: 256px
  
  h3
    text-align:center

// This is for progress-bar style nested DIVs
.obar
  width: 256px
  height: 16px
  background: #eef
  margin: 2px 0

  .label
    position: absolute
    width: 256px
    height: 12px
    text-align: center
    font-size: 10px
    padding: 2px

  .ibar
    position: absolute
    background: #cce
    height:16px
