p Currently storing approximately 
  span#used #{stats.approx_size_human}
  span  of 
  span#capacity #{stats.approx_capacity_human}
  span  across 
  span#num_peers #{stats.num_peers}
  span  peers.
